##### (1) Load CSV

In [1]:
%pwd

u'/Users/antuanweeks/PythonCode/GA_DataScience/lesson_3'

In [2]:
import pandas as pd
zillow_df = pd.read_csv("assets/dataset/zillow-02-start.csv") # load data into DataFrame

##### (2) Summarize the DataFrame

In [3]:
zillow_df.head(); # semi-colon omits output of cell, use .head() to ensure data loaded correctly -- preview data

In [4]:
zillow_df.describe() # we can see that the data is not normalized. SalePrice is in different units -- summary stats

,ID,Latitude,Longitude,SalePrice,BedCount,BathCount,Size,LotSize,BuiltInYear
count,1.000000e+03,1.000000e+03,1.000000e+03,1000.000000,836.000000,942.000000,967.000000,556.000000,975.000000
mean,1.591666e+08,3.775959e+07,-1.224348e+08,298264.042160,2.572967,1.977548,1641.300931,2809.112770,1947.533333
std,4.928856e+08,2.531078e+04,3.157521e+04,381637.332787,1.250891,1.130334,1027.016175,1097.087521,38.021563
min,1.506347e+07,3.770844e+07,-1.225106e+08,1.000000,1.000000,1.000000,264.000000,0.280000,1870.000000
25%,1.512042e+07,3.773848e+07,-1.224535e+08,1.350000,2.000000,1.000000,1027.500000,2374.000000,1912.000000
50%,1.516415e+07,3.776023e+07,-1.224317e+08,2.500000,2.000000,2.000000,1350.000000,2613.000000,1939.000000
75%,6.739436e+07,3.777999e+07,-1.224098e+08,718500.000000,3.000000,2.000000,1947.500000,3049.000000,1986.000000
max,2.136214e+09,3.780543e+07,-1.223712e+08,999000.000000,9.000000,14.000000,11500.000000,10454.000000,2015.000000

In [5]:
# .describe()returns a DataFrame of summary stats

In [6]:
zillow_df.dtypes # this is an attribute, not a function call (no parentheses). returns types of variable in DataFrame

ID                 int64
Address           object
Latitude           int64
Longitude          int64
DateOfSale        object
SalePrice        float64
SalePriceUnit     object
IsAStudio         object
BedCount         float64
BathCount        float64
Size             float64
SizeUnit          object
LotSize          float64
LotSizeUnit       object
BuiltInYear      float64
dtype: object

In [7]:
zillow_df.info() # more detailed output of DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
ID               1000 non-null int64
Address          1000 non-null object
Latitude         1000 non-null int64
Longitude        1000 non-null int64
DateOfSale       1000 non-null object
SalePrice        1000 non-null float64
SalePriceUnit    1000 non-null object
IsAStudio        986 non-null object
BedCount         836 non-null float64
BathCount        942 non-null float64
Size             967 non-null float64
SizeUnit         967 non-null object
LotSize          556 non-null float64
LotSizeUnit      556 non-null object
BuiltInYear      975 non-null float64
dtypes: float64(6), int64(3), object(6)
memory usage: 117.3+ KB

##### (3) Filtering / Slicing Data

In [8]:
zillow_df.columns # another attribute; returns index of column names

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'DateOfSale',
       u'SalePrice', u'SalePriceUnit', u'IsAStudio', u'BedCount', u'BathCount',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

In [9]:
# DataFrame consists of three objects: index, columns and values

In [10]:
zillow_df[['Address', 'Longitude', 'Latitude']] # slicing to get data (filter)

                                          Address  Longitude  Latitude
0       55 Vandewater St APT 9, San Francisco, CA -122412856  37805103
1             740 Francisco St, San Francisco, CA -122417389  37804420
2             819 Francisco St, San Francisco, CA -122419055  37803728
3        199 Chestnut St APT 5, San Francisco, CA -122406590  37804392
4      111 Chestnut St APT 403, San Francisco, CA -122405509  37804240
5      111 Chestnut St APT 702, San Francisco, CA -122405509  37804240
6       1821 Grant Ave APT 101, San Francisco, CA -122408531  37803748
7          2300 Leavenworth St, San Francisco, CA -122417537  37802408
8         1047-1049 Lombard St, San Francisco, CA -122418704  37801889
9          1055 Lombard St # C, San Francisco, CA -122418834  37801873
10     101 Lombard St APT 116E, San Francisco, CA -122404090  37803470
11    1407 Montgomery St APT 2, San Francisco, CA -122404941  37802299
12    1360 Montgomery St APT 1, San Francisco, CA -122404269  37801802
13         1327-1329 Kearny St, San Francisco, CA -122406123  37800260
14      44 Macondray Ln APT 2E, San Francisco, CA -122414835  37799474
15       1070 Green St APT 201, San Francisco, CA -122416797  37798792
16      1070 Green St APT 1402, San Francisco, CA -122416797  37798792
17   1907 Leavenworth St APT 8, San Francisco, CA -122417500  37798645
18         1101 Green St # 303, San Francisco, CA -122417394  37798234
19               1807 Jones St, San Francisco, CA -122415745  37797920
20        999 Green St APT 905, San Francisco, CA -122415218  37798451
21      455 Vallejo St APT 111, San Francisco, CA -122404766  37798796
22        1163-1165 Vallejo St, San Francisco, CA -122416366  37797445
23            1300 Pacific Ave, San Francisco, CA -122416840  37795805
24              948 Jackson St, San Francisco, CA -122410789  37795662
25      946 Stockton St APT 6B, San Francisco, CA -122407810  37794715
26      946 Stockton St APT 9E, San Francisco, CA -122407810  37794715
27        1250 Clay St APT 306, San Francisco, CA -122413670  37793575
28       1250 Jones St APT 503, San Francisco, CA -122414049  37793071
29       1250 Jones St APT 802, San Francisco, CA -122414049  37793071
..                                            ...        ...       ...
970               2137 Pine St, San Francisco, CA -122430988  37788242
971              409 Miguel St, San Francisco, CA -122427008  37736625
972            251 Missouri St, San Francisco, CA -122396270  37763202
973            1650 Florida St, San Francisco, CA -122409301  37746898
974          41 Collingwood St, San Francisco, CA -122436123  37761579
975             2753 Bryant St, San Francisco, CA -122408600  37750270
976            244 Precita Ave, San Francisco, CA -122415110  37747330
977                6 Rossi Ave, San Francisco, CA -122456412  37779494
978            333 Potrero Ave, San Francisco, CA -122407150  37765266
979              1340 Union St, San Francisco, CA -122421388  37798930
980            688 Douglass St, San Francisco, CA -122438919  37752803
981              414 Linden St, San Francisco, CA -122424930  37776218
982      1408 31st Ave APT 303, San Francisco, CA -122489700  37760994
983               333 Beale St, San Francisco, CA -122392100  37788280
984             82 Alvarado St, San Francisco, CA -122422736  37754504
985         2619 Sacramento St, San Francisco, CA -122436058  37789371
986            129 Central Ave, San Francisco, CA -122443840  37770870
987              444 Linden St, San Francisco, CA -122425300  37776170
988              2595 38th Ave, San Francisco, CA -122496000  37738600
989               3500 19th St, San Francisco, CA -122422000  37760100
990      1738 Lombard St APT 4, San Francisco, CA -122430229  37800910
991    201 Sansome St UNIT 501, San Francisco, CA -122401245  37792255
992              925 Larkin St, San Francisco, CA -122418222  37786427
993     829 Folsom St UNIT 906, San Francisco, CA -122401860  37781429
994             129 Octavia St, San Francisco, CA -122424037  37773192
995         412 Green St APT A, San Francisco, CA -122406100  37800040
996       355 1st St UNIT 1905, San Francisco, CA -122393638  37787029
997          33 Santa Cruz Ave, San Francisco, CA -122465332  37709136
998             1821 Grant Ave, San Francisco, CA -122408531  37803760
999              1200 Gough St, San Francisco, CA -122424100  37784770

[1000 rows x 3 columns]

In [11]:
# why 2 brackets after _df[[]]? because you are accessing 2 dimensional data. Values are stored in 1 dimensional series

In [12]:
columns_to_select = ['Address', 'Longitude', 'Latitude']
zillow_df[columns_to_select].iloc[10:25] # choosing specific rows of interest, .iloc filters by row

                                         Address  Longitude  Latitude
10    101 Lombard St APT 116E, San Francisco, CA -122404090  37803470
11   1407 Montgomery St APT 2, San Francisco, CA -122404941  37802299
12   1360 Montgomery St APT 1, San Francisco, CA -122404269  37801802
13        1327-1329 Kearny St, San Francisco, CA -122406123  37800260
14     44 Macondray Ln APT 2E, San Francisco, CA -122414835  37799474
15      1070 Green St APT 201, San Francisco, CA -122416797  37798792
16     1070 Green St APT 1402, San Francisco, CA -122416797  37798792
17  1907 Leavenworth St APT 8, San Francisco, CA -122417500  37798645
18        1101 Green St # 303, San Francisco, CA -122417394  37798234
19              1807 Jones St, San Francisco, CA -122415745  37797920
20       999 Green St APT 905, San Francisco, CA -122415218  37798451
21     455 Vallejo St APT 111, San Francisco, CA -122404766  37798796
22       1163-1165 Vallejo St, San Francisco, CA -122416366  37797445
23           1300 Pacific Ave, San Francisco, CA -122416840  37795805
24             948 Jackson St, San Francisco, CA -122410789  37795662

In [13]:
# for consistency with database, get rid of default index and utilize ID from DataFrame
new_zillow_df = zillow_df.set_index('ID')
new_zillow_df.head()

,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,BedCount,BathCount,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0

In [14]:
new_zillow_df.iloc[[0, 3]] # 'i' in .iloc refers to index. must use index location (range(len(dataframe)-1))

,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,BedCount,BathCount,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.0,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.5,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0

In [15]:
new_zillow_df.loc[[15063471, 15064044], ['Address', 'SalePrice']] 
# filters by rows by default, but with brackets, accepts list of rows and/or column by name

                                            Address  SalePrice
ID
15063471  55 Vandewater St APT 9, San Francisco, CA   710000.0
15064044   199 Chestnut St APT 5, San Francisco, CA        1.5